body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.hero-background {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.hero-section {
    width: 1000px;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
}

.hero-content {
    margin-top: 150px;
    margin-bottom: 75px;
}

.hero-content {
    padding-bottom: 48px;
    display: flex;
    gap: 48px;
}

.hero-statement,
.hero-image {
    flex: 1
}

.hero-main {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    margin-bottom: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
}

.sign-up {
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3b82f6;
    color: #F9FAF8;
    border-width: 0;
    border-radius: 8px;
}

.info-background {
    background-color: white;
    color: #4b5563;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card .image {
    border-style: solid;
    border-color:#3b82f6;
    border-radius: 12px;
    border-width: 4px;
    height: 180px;
    width: 180px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 48px;
    padding-bottom: 80px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.card {
    width: 180px;
    text-align: center;
}

.card .subtext {
    margin-top: 12px;
}

.quote-background {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.quote-section {
    width: 1000px;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

.CTA-background {
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CTA-section {
    background-color: #3b82f6;
    color: white;
    width: 1000px;
    padding: 48px 80px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CTA-button {
    background: #3b82f6;
    font-weight: bold;
    font-size: 16px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    color: white;
    padding: 8px 24px
}

.CTA-text .main-text {
    font-size: 24px;
    font-weight: bold;
}

.CTA-text .secondary-text {
    font-size: 16px;
}

